body {
    margin: 0;
    background-image: url('img/bg-image/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Mexican', sans-serif;
    /* overflow: hidden; */
}


.main-div {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    margin-top: 0;
}


/* .canvas-div { */
    /* width: 100%;
    height: 100%; */
/* } */

.canvas {
    /* width: 100%;
    height: 100%; */
    background-color: black;
    z-index: 5;
    border-radius: 10px;
    display: block;
}


 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 480px;
    aspect-ratio: 720 / 480;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
}


.shadow {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 2;
}


.d-none {
    display: none !important;
}


.intro {
    width: 100%;
    height: 100%;
    position: relative;
}


.preloader {
    background: #000 url('gif/XOsX.gif') no-repeat center center;
    background-size: 20%;
    width: 100%;
    height: 100%;
    z-index: 999;
    border-radius: 10px;
}


.outro {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(img/5_background/first_half_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.outro-winner {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    background-image: url(img/5_background/first_half_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outro-winner span {
    color: white;
    z-index: 900;
    font-size: 28px;
}

.start-screen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.button-absolute {
    position: absolute;
    top: 15px;
    left: 20px;
}

.orange-button {
    background-color: rgb(217, 133, 44);
    border: 2px solid white;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 20%;
}

.orange-button:hover {
    background-color: rgb(199, 115, 24);
    scale: 1.02;
}


.restart-button-div {
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    gap: 30px;
}

.resume-button {
    background-color: rgb(0 0 0);
    padding: 8px;
    color: white;
    font-weight: revert;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: cursive;
    margin-top: 10px;
}


.resume-button:hover {
    background-color: rgb(32, 31, 31);
    scale: 1.02;
}

.icon-div {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
}

.icons:hover {
    scale: 1.05;
}

.relative {
    position: relative;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.key-parent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 24px;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 10px;
}

.key-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}


.back {
    position: absolute;
    top: 20px;
    right: 30px;
}

.history-text-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    font-weight: bold;
    font-size: 20px;
}

.history-text {
    padding: 16px;
    font-family: 'Times New Roman', Times, serif !important;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.pause-screen {
    background-color: rgb(255 255 255 / 50%);
    padding: 24px;
    border-radius: 10px;
    z-index: 4;
    margin: 66px 0 0 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.pause-screen-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 20px;
    font-weight: bold;
}

.pause-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
}

.pause-icons-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.winner-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-fit: contain;
    /* background-color: rgb(0 0 0 / 60%); */
    border-radius: 10px;
    z-index: 900;
}


.shadow-end-screen {
    box-shadow: inset 0px 7px 28px 12px rgb(0 0 0 / 20%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 2;
}